body{
    height: 100vh;
}

header{
    /* height: 90px; */
    padding: 0.5rem;
}

main{
    height: calc(100% - 180px);
    background-color: #7fffd4;
    overflow-y: auto;
}


footer{
    /* height: 90px; */
    padding: 0.5rem;
}





.quadrato{
    /* width: calc(100% / 10); */
    /* height: calc(100% / 10); */
    border: 1px solid black;


    font-size: 1.5rem;

    display: flex;

    justify-content: center;
    align-items: center;
}



.click{
    background-color: aqua;
}